* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 62.5%; /* Establezco el tamaño por defecto a 10 px */
    font-weight: 300;
    background-color: #121212;
    color: #fff;
}
header {
    border-bottom: 0.5rem solid #ffa500;
}
.container {
    width: 1320px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0;
}
h2 {
    font-size: 3rem;
}
h2 i {
    color: #ffa500;
}
.cuadro-busqueda {
    position: relative;
    width: 35rem;
}
.input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 2.5rem;
    outline: none;
    border: 0.2rem solid #8e8e8e;
    transition: all 0.5s ease-in-out;
}
.input:focus {
    box-shadow: 0 0 0.5rem #ffa500;
    border: 0.2rem solid #ffa500;
}

.cuadro-busqueda i {
    color: #8e8e8e;
    position: absolute;
    top: 30%;
    right: 5%;
    font-size: 1.6rem;
    cursor: pointer;
    transition: color 1s ease-in-out;
}
.cuadro-busqueda i:hover {
    color: #ffa500;
}
.imagenes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
h3 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
}
.hidden {
    display: none;
}
.img {
    width: 38rem;
    height: 20rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    /* background-color: #ffa500; */
    /* Cuando descarguemos las imagenes desde la API les asignare
    un background image */
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
/* BREAKPOINT  */
@media screen and (max-width: 1320px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 1100px) {
    nav {
        justify-content: center;
    }
    h2 {
        margin-bottom: 1.6rem;
    }
}
@media screen and (max-width: 700px) {
    body {
        font-size: 50%;
    }
    .cuadro-busqueda {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 40%;
    }
    h2 {
        font-size: 2rem;
    }
}

